* { box-sizing: border-box; }

/* force scrollbar */
html { overflow-y: scroll; }

body { font-family: sans-serif; }

.wrapper{
  background-color: #F4F4F5;
  min-height: 100vh;
}

/* ---- grid ---- */

.grid {
  background: #F4F4F5;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  width: calc(33.333% - 10px);
}

.grid-item {
  float: left;
  position: relative;
  margin-bottom: 10px;
  cursor: pointer;
}

.grid-item img {
  display: block;
  max-width: 100%;
  width: 100%;
}

.grid-container{
  width: 1170px;
  margin-left: calc( 50vw - 585px );
  display: inline-block;
}

.web-loader{
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: #f4f3f1;
}

.web-loader img{
  width: 100px;
  margin-left: calc( 50vw - 50px );
  margin-top: calc( 50vh - 50px );
}

.hover-show{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  padding: 15px;
  opacity: 0;
  transition: opacity 0.5s;
  user-select: none;
}

.hover-title{
  color: white;
  font-weight: 800;
  font-size: 18px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.hover-description{
  color: lightgray;
}

.hover-show-content{
  bottom: 0px;
  position: absolute;
  width: 100%;
  margin-left: -15px;
  padding: 15px;
}

.grid-item:hover .hover-show{
  opacity: 1;
}

.detail-header{
  padding-top: 100px;
  padding-bottom: 100px;
}

.detail-header h4{
  margin-top: 0px;
  margin-bottom: 15px;
  font-size: 40px;
  color: #C09A57;
}

.detail-header p{
  font-weight: normal;
  color: gray;
  width: calc( 50% - 10px );
  max-width: 700px;
  font-size: 14px;
  line-height: 21px;
  float: left;
}

.short-info{
  width: calc( 50% - 15px );
  float: right;
  background-color: #EAEAEA;
  padding: 30px;
}

.short-info table{
  width: 100%;
  text-align: left;
  font-size: 14px;
}

.short-info table tr{
  vertical-align: top;
}

.short-info table th{
  padding-top: 10px;
  color: black;
  font-weight: 800;
}

.short-info table td{
  padding-top: 10px;
  color: gray;
  font-weight: 400;
  line-height: 25px;
}

.detail-header button{
  width: 40px;
  float: right;
  margin-right: 15px;
  margin-top: 0px;
  cursor: pointer;
}

.hamburger-inner{
  background-color: #C09A57;
}

.hamburger-inner:before{
  background-color: #C09A57;
}

.hamburger-inner:after{
  background-color: #C09A57;
}

.detail-header button:hover{
  background-color: transparent;
}

.detail-view{
  background-color: #FCFCFC;
  margin-bottom: 60px;
}

.detail-view-content{
  width: 100%;
  max-width: 800px;
  padding: 45px 15px 45px 15px;
  margin: auto;
}

.detail-view-content img{
  width: 80%;
  margin-left: 10%;
}

.detail-view-content h5{
  width: 100%;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px;
  color: gray;
  font-weight: 800;
}

.detail-view-content h4{
  font-size: 21px;
  font-weight: 800;
  color: black;
}

.detail-view-content p{
  font-weight: 400;
  line-height: 22.5px;
}

.detail-view-content h2{
  font-size: 30px;
  font-weight: 800;
}

.half-img{
  margin-top: 60px;
}

.half-img img:first-of-type{
  float: left;
}

.half-img img{
  width: 35%;
}

.half-img h5{
  margin-top: 20px;
}

.half-with-text{
  display: inline-block;
}

.half-with-text .text{
  width: calc( 50% - 7.5px );
  float: left;
  margin-top: -15px;
}

.half-with-text img{
  width: calc( 50% - 7.5px );
  float: right;
  margin-left: 0px;
}

.webview-display{
  display: inline-block;
}

.webview-display img:first-of-type{
  width: calc( 70% - 7.5px );
  float: left;
  margin-left: 0px;
}

.webview-display img:last-of-type{
  width: calc( 30% - 7.5px );
  float: right;
  margin-left: 0px;
}


@media (max-width: 1200px){
  .grid-container{
    width: 970px;
    margin-left: calc( 50vw - 485px );
  }
}

@media (max-width: 992px){
  .grid-container{
    width: 750px;
    margin-left: calc( 50vw - 375px );
  }
  .grid-sizer,
  .grid-item {
    width: calc(50% - 10px);
  }
  .hover-show{
    opacity: 1;
    background-color: transparent;
  }
  .hover-show-content{
    background-color: rgba(0,0,0,0.3);
  }
  .detail-view-content img{
    width: 100%;
    margin-left: 0px;
  }
  .half-img{
    margin-top: 60px;
  }

  .half-img img:first-of-type{
    float: left;
    margin-right: 30px;
  }

  .half-img img{
    width: calc( 50% - 15px );
  }

  .half-img h5{
    margin-top: 20px;
  }
  .detail-header p{
    float: unset;
    width: 100%;
  }
  .short-info{
    float: unset;
    width: 100%;
    margin-top: 20px;
  }
}

@media (max-width: 768px){
  .webview-display img:first-of-type{
    width: 100%;
    margin-left: 0px;
    float: unset;
  }
  .webview-display img:last-of-type{
    width: 100%;
    margin-left: 0px;
    float: unset;
  }
  .half-with-text .text{
    float: unset;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 15px;
  }
  .half-img img:last-of-type{
    margin-top: 20px;
  }
  .detail-view-content img{
    width: 100%;
    margin-left: 0px;
  }
  .grid-container{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 0px;
  }
  .grid-sizer,
  .grid-item {
    width: 100%;
  }
  .detail-header{
    padding-top: 30px;
    padding-bottom: 50px;
  }
  .detail-header p{
    float: unset;
    width: 100%;
  }
  .short-info{
    float: unset;
    width: 100%;
    margin-top: 20px;
  }
  .detail-view-content {
    padding: 45px 0px 45px 0px;
  }
}
