* { box-sizing: border-box; }

/* force scrollbar */
html { overflow-y: scroll; }

body { font-family: sans-serif; }

.wrapper{
  background-color: #F4F4F5;
  min-height: 100vh;
}

/* ---- grid ---- */

.grid {
  background: #F4F4F5;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  width: calc(33.333% - 10px);
}

.grid-item {
  float: left;
  position: relative;
  margin-bottom: 10px;
  cursor: pointer;
}

.grid-item img {
  display: block;
  max-width: 100%;
  width: 100%;
}

.grid-container{
  width: 1170px;
  margin-left: calc( 50vw - 585px );
  display: inline-block;
}

.web-loader{
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: #f4f3f1;
}

.web-loader img{
  width: 100px;
  margin-left: calc( 50vw - 50px );
  margin-top: calc( 50vh - 50px );
}

.hover-show{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  padding: 15px;
  opacity: 0;
  transition: opacity 0.5s;
  user-select: none;
}

.hover-title{
  color: white;
  font-weight: 800;
  font-size: 18px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.hover-description{
  color: lightgray;
}

.hover-show-content{
  bottom: 0px;
  position: absolute;
  width: 100%;
  margin-left: -15px;
  padding: 15px;
}

.grid-item:hover .hover-show{
  opacity: 1;
}

.detail-header{
  padding-top: 100px;
  padding-bottom: 100px;
}

.detail-header h4{
  margin-top: 0px;
  margin-bottom: 15px;
  font-size: 40px;
  color: #C09A57;
}

.detail-header label{
  font-weight: normal;
}

.detail-header button{
  width: 40px;
  float: right;
  margin-right: 15px;
  margin-top: 15px;
  cursor: pointer;
}

.hamburger-inner{
  background-color: #C09A57;
}

.hamburger-inner:before{
  background-color: #C09A57;
}

.hamburger-inner:after{
  background-color: #C09A57;
}

.detail-header button:hover{
  background-color: transparent;
}

@media only screen and (max-width: 1200px){
  .grid-container{
    width: 970px;
    margin-left: calc( 50vw - 485px );
  }
}

@media only screen and (max-width: 992px){
  .grid-container{
    width: 750px;
    margin-left: calc( 50vw - 375px );
  }
  .grid-sizer,
  .grid-item {
    width: calc(50% - 10px);
  }
  .hover-show{
    opacity: 1;
    background-color: transparent;
  }
  .hover-show-content{
    background-color: rgba(0,0,0,0.3);
  }
}

@media only screen and (max-width: 768px){
  .grid-container{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 0px;
  }
  .grid-sizer,
  .grid-item {
    width: 100%;
  }
  .detail-header{
    padding-top: 30px;
    padding-bottom: 50px;
  }
}
