body{
  background-color: #EEEAEF;
  padding: 0;
  margin: 0;
  font-family: 'Playfair Display', serif;
}
#main{
  width:100vw;
  margin-top:0px;
  position:absolute;
  z-index:-1;
}
#htitle{
  font-size:2vw;
  letter-spacing:1.8vw;
  color:#494949;
  float:right;
  margin-left:100vw;
  margin-bottom:0;
}
#htitlet{
  letter-spacing:0vw;
}
#hsubtitle{
  font-size:1vw;
  color: #6B6A6B;
  letter-spacing:0.5vw;
  float:right;
  margin-right:0;
  margin-left:100vw;
}
#hsubtitlet{
  letter-spacing:0vw;
}
#title{
  margin-top:37vw;
  margin-right:8vw;
  float:right;
}
#downbtn{
  width:4vw;
  margin-left:48vw;
  margin-top:6vw;
  opacity:0.7;
}
#downbtn:hover{
  width:6vw;
  margin-left:47vw;
  margin-top:5vw;
  opacity:0.9;
  cursor:pointer;
}
